<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Film Upload</title>
</head>
<body>
    <form th:action="@{filmUpload}" method="POST" enctype="multipart/form-data">
        Titel:<br/>
        <input type="text" name="title" itemprop="filmtitle"/><br/>
        Jahr:<br/>
        <input type="text" name="year" itemprop="filmyear"/><br/>
        Cover:<br/>
        <input type="file" name="cover" itemprop="filmcover"/><br/>
        <input type="submit" value="Abschicken" itemprop="submitbutton"/>
    </form>
</body>
</html>